NEXT_PUBLIC_SUPABASE_URL=https://yezltvbqfixcgjbtgumj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inllemx0dmJxZml4Y2dqYnRndW1qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMjE5OTIsImV4cCI6MjA5NDY5Nzk5Mn0.wI2c1yj6iE5JXHt1HOUGH_j1o9paDwwDcMjpOgF3lMo
FIRECRAWL_API_KEY=fc-429a6a08cc524cf2adbaf079b52c0537
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# i know this should be kept secret but since this is a test and just in case you want to test it.